[submodule "cv"]
	path = cv
	url = git@github.com:jartigag/pandoc-moderncv.git
	branch = gh-pages
[submodule "tfm"]
	path = tfm
	url = git@github.com:jartigag/tfm-clustering.git
	branch = gh-pages
[submodule "bikoschool"]
	path = bikoschool
	url = git@github.com:jartigag/curso-biko-desarrollo-software-xp.git
	branch = gh-pages
